--- 

--- 
@charset "utf-8";

//Google fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

//Set colors
$black: #0e0e0e;
$white: #fefefe;

//Update Bulma variables
$family-sans-serif: "Montserrat", sans-serif;
$schema-main: $black;

//Bulma imports
@import "bulma/bulma";

//Own scss imports
@import 'general/general';